<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <div id="body">
      <marquee behavior="alternate">Welcome to the Sample App!</marquee>
      <div id="header">
        <div id="header1">
          <h1>List of Students</h1>
        </div>
        <div id="header2">
          <b><%= link_to '<button type="button" ><span class="glyphicon glyphicon-log-out">Logout</span></button>'.html_safe, :controller => "welcome", :action => "login" %></b>
        </div>&nbsp;
      </div>&nbsp;
      <div id="add_div">
        <%= button_to 'Add Student', new_student_path, :id => 'add' %><br>
      </div>
      <div id="goto_div">
        <%= button_to 'Go To Courses', course_index_path, :id => 'Goto' %><br>
      </div>
      <div id="innerBody">
        <ol>
          <% @students.each do |student| %>
            <b><li id="stu_name"><%= student.name %></li></b>
            <b><%= link_to 'Show', student_path(student.id) %><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;
            <%= link_to 'Edit', edit_student_path(student) %><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;
            <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %><span class="glyphicon glyphicon-trash"></span></b>
          <% end %>
        </ol>
      </div>
    </div>
  </body>
</html>
