<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <div id="body">
      <marquee behavior="alternate">Welcome to the Sample App!</marquee>
      <div id="header">
        <h1>List of Students</h1>
      </div>
      <div id="logout">
        <%= link_to 'Logout', :controller => "welcome", :action => "login" %><br><br>
      </div>
      <div id="innerBody">
        <%= button_to 'Add Student', new_student_path, :id => 'add' %><br>
        <%= button_to 'Go To Courses', course_index_path, :id => 'Goto' %><br>
        <ol>
          <% @students.each do |student| %>
            <li id="stu_name"><%= student.name %></li>
            <%= link_to 'Show', student_path(student.id) %>&nbsp;&nbsp;
            <%= link_to 'Edit', edit_student_path(student) %>&nbsp;&nbsp;
            <%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </ol>
      </div>
    </div>
  </body>
</html>
