<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <div id="body">
      <marquee behavior="alternate">Welcome to the Sample App!</marquee>
      <div id="header">
        <h1>Student Registration</h1>
      </div>
      <div id="logout">
        <%= link_to 'Logout', :controller => "welcome", :action => "login", :id => 'logout' %><br><br>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div id="innerBody">
        <%= link_to :Back, students_path %>&nbsp;&nbsp;<%= link_to 'Cancel', type: :reset %>
        <%= form_for :student, url: students_path do |f| %>
          <p>
            <%= f.label :Name, :id => 'name' %><br>
            <%= f.text_field :name, :required => true, :maxlength => 50, :pattern => '[a-zA-Z ]+', :id => 'name2' %>
          </p>

          <p>
            <%= f.label 'Contact No', :id => 'contact' %><br>
            <%= f.text_field :contact, :required => true, :minlength => 10, :maxlength => 10, :pattern => '[0-9]+', :id => 'contact2' %>
          </p>

          <p>
            <%= f.label 'Email Id', :id => 'email' %><br>
            <%= f.text_field :email, :required => true, :pattern => '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$', :id => 'email2' %>
          </p>

          <p>
            <%= f.label 'Father Name', :id => 'father' %><br>
            <%= f.text_field :father, :required => true, :maxlength => 50, :pattern => '[a-zA-Z ]+', :id => 'father2' %>
          </p>

          <p>
            <%= f.label :DOB, :id => 'dob' %><br>
            <%= f.text_field :dob, :required => true, :id => 'dob2' %>
          </p>

          <p>
            <%= f.label :Course, :id => 'course' %><br>
            <%= f.collection_select :course_id, Course.course_name, :id, :name , :prompt => 'Select One', :id => 'course2' %>
          </p>

          <p>
            <%= f.submit :Register, :id => 'register' %>
          </p>
        <% end %>
      </div>
    </div>
  </body>
</html>
