<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <div id="body">
      <marquee behavior="alternate">Welcome to the Sample App!</marquee>
      <div id="header">
        <h1>Student Details</h1>
      </div>

      <div id="logout">
        <b><%= link_to '<button type="button" ><span class="glyphicon glyphicon-log-out">Logout</span></button>'.html_safe, :controller => "welcome", :action => "login" %></b>
      </div>
      <div id="innerBody">
        <span class="glyphicon glyphicon-step-backward"></span><b><%= link_to :Back, :controller => "students" %></b>
        <p>
          <strong id="name_stu">Name: </strong>
          <%= @student.name %>
        </p>
        <p>
          <strong id="contact_stu">Contact No: </strong>
          <%= @student.contact %>
        </p>
        <p>
          <strong id="email_stu">Email Id: </strong>
          <%= @student.email %>
        </p>
        <p>
          <strong id="father_stu">Father Name: </strong>
          <%= @student.father %>
        </p>
        <p>
          <strong id="dob_stu">DOB: </strong>
          <%= @student.dob.to_date.strftime('%d/%m/%Y') %>
        </p>
        <p>
          <strong id="course_stu">Course: </strong>
          <%= @student.course.name %>
        </p>
    </div>
  </div>
  </body>
</html>
