<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <h1>List of courses</h1>
    <%= link_to 'Logout', :controller => "welcome", :action => "login" %><br><br>
    <%= link_to :Back, :controller => "students" %>
    <ul>
      <% @courses.each do |course| %>
        <li><%= link_to course.name, :controller => "course", :action => "show", :temp => course.id %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Delete Course', course_path(course), method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;&nbsp;
            <%= link_to 'Edit Course', edit_course_path(course) %><br><br></li>
      <% end %>
    </ul>
  </body>
</html>
