<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bg_color.css" %>
  </head>
  <body>
    <div id="body">
      <marquee behavior="alternate">Welcome to the Sample App!</marquee>
      <div id="header">
        <div id="header1">
          <h1>Course Detail</h1>
        </div>
        <div id="header2">
          <b><%= link_to '<button type="button" ><span class="glyphicon glyphicon-log-out">Logout</span></button>'.html_safe, :controller => "welcome", :action => "login" %></b>
        </div>&nbsp;
      <div id="innerBody">
        <span class="glyphicon glyphicon-step-backward"></span><b><%= link_to :Back, :controller => "course", :action => "index" %></b>
          <p>
            <strong id="id_course">Course Id: </strong>
            <%= @course.course_id %>
          </p>
          <p>
            <strong id="name_course">Name: </strong>
            <%= @course.name %>
          </p>
          <p>
            <strong id="duration_course">Duration: </strong>
            <%= @course.duration %> yrs
          </p>
          <p>
            <strong id="fee_course">Fee: </strong>
            <%= @course.fee %>
          </p>
          <p>
            <strong id="coordinator_course">Coordinator: </strong>
            <%= @course.coordinator %>
          </p>
        </div>
      </div>
  </body>
</html>
